In [13]:
! pip install kaggle

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in c:\users\iflal\appdata\roaming\python\python39\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\programdata\miniconda3\envs\py39new\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\programdata\miniconda3\envs\py39new\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\iflal\appdata\roaming\python\python39\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\programdata\miniconda3\envs\py39new\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\iflal\appdata\roaming\python\python39\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\iflal\appdata\roaming\python\python39\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\programdata\miniconda3\envs\py39new\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\iflal\appdata\roaming\python\python39\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\iflal\appdata\roaming\python\python39\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\iflal\appdata\roaming\python\python39\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\miniconda3\envs\py39new\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\miniconda3\envs\py39new\lib\site-packages (from requests->kaggle) (3.8)
Requirement already satisfied: colorama in c:\users\iflal\appdata\roaming\python\python39\site-packages (from tqdm->kaggle) (0.4.6)

In [14]:
! kaggle datasets download -d kazanova/sentiment140

Dataset URL: https://www.kaggle.com/datasets/kazanova/sentiment140
License(s): other
Downloading sentiment140.zip to c:\Users\Iflal\Desktop\D_Stuff\ML_project\Twitter Sentiment analysis

  0%|          | 0.00/80.9M [00:00<?, ?B/s]
  1%|          | 1.00M/80.9M [00:01<02:19, 599kB/s]
  2%|▏         | 2.00M/80.9M [00:02<01:38, 840kB/s]
  4%|▎         | 3.00M/80.9M [00:03<01:26, 948kB/s]
  5%|▍         | 4.00M/80.9M [00:04<01:12, 1.11MB/s]
  6%|▌         | 5.00M/80.9M [00:05<01:11, 1.11MB/s]
  7%|▋         | 6.00M/80.9M [00:05<01:01, 1.27MB/s]
  9%|▊         | 7.00M/80.9M [00:06<00:58, 1.33MB/s]
 10%|▉         | 8.00M/80.9M [00:07<00:51, 1.48MB/s]
 11%|█         | 9.00M/80.9M [00:07<00:51, 1.48MB/s]
 12%|█▏        | 10.0M/80.9M [00:08<00:48, 1.54MB/s]
 14%|█▎        | 11.0M/80.9M [00:09<00:48, 1.52MB/s]
 15%|█▍        | 12.0M/80.9M [00:09<00:50, 1.44MB/s]
 16%|█▌        | 13.0M/80.9M [00:10<00:55, 1.29MB/s]
 17%|█▋        | 14.0M/80.9M [00:12<01:00, 1.16MB/s]
 19%|█▊        | 15.0M/80.9M [00:12<00:58, 1.18MB/s]
 20%|█▉        | 16.0M/80.9M [00:13<00:49, 1.36MB/s]
 21%|██        | 17.0M/80.9M [00:14<00:54, 1.23MB/s]
 22%|██▏       | 18.0M/80.9M [00:15<00:56, 1.17MB/s]
 23%|██▎       | 19.0M/80.9M [00:16<00:58, 1.11MB/s]
 25%|██▍       | 20.0M/80.9M [00:17<00:50, 1.25MB/s]
 26%|██▌       | 21.0M/80.9M [00:17<00:50, 1.25MB/s]
 27%|██▋       | 22.0M/80.9M [00:19<00:54, 1.13MB/s]
 28%|██▊       | 23.0M/80.9M [00:20<01:00, 1.00MB/s]
 30%|██▉       | 24.0M/80.9M [00:21<00:58, 1.02MB/s]
 31%|███       | 25.0M/80.9M [00:22<00:56, 1.04MB/s]
 32%|███▏      | 26.0M/80.9M [00:23<00:55, 1.05MB/s]
 33%|███▎      | 27.0M/80.9M [00:24<00:51, 1.10MB/s]
 35%|███▍      | 28.0M/80.9M [00:24<00:45, 1.23MB/s]
 36%|███▌      | 29.0M/80.9M [00:25<00:38, 1.40MB/s]
 37%|███▋      | 30.0M/80.9M [00:25<00:34, 1.55MB/s]
 38%|███▊      | 31.0M/80.9M [00:26<00:40, 1.30MB/s]
 40%|███▉      | 32.0M/80.9M [00:27<00:39, 1.29MB/s]
 41%|████      | 33.0M/80.9M [00:29<00:46, 1.08MB/s]
 42%|████▏     | 34.0M/80.9M [00:29<00:39, 1.25MB/s]
 43%|████▎     | 35.0M/80.9M [00:30<00:40, 1.18MB/s]
 44%|████▍     | 36.0M/80.9M [00:31<00:39, 1.20MB/s]
 46%|████▌     | 37.0M/80.9M [00:32<00:37, 1.22MB/s]
 47%|████▋     | 38.0M/80.9M [00:33<00:37, 1.19MB/s]
 48%|████▊     | 39.0M/80.9M [00:34<00:42, 1.04MB/s]
 49%|████▉     | 40.0M/80.9M [00:34<00:34, 1.25MB/s]
 51%|█████     | 41.0M/80.9M [00:35<00:35, 1.19MB/s]
 52%|█████▏    | 42.0M/80.9M [00:36<00:35, 1.13MB/s]
 53%|█████▎    | 43.0M/80.9M [00:37<00:32, 1.21MB/s]
 54%|█████▍    | 44.0M/80.9M [00:38<00:32, 1.18MB/s]
 56%|█████▌    | 45.0M/80.9M [00:39<00:32, 1.17MB/s]
 57%|█████▋    | 46.0M/80.9M [00:40<00:30, 1.20MB/s]
 58%|█████▊    | 47.0M/80.9M [00:41<00:28, 1.27MB/s]
 59%|█████▉    | 48.0M/80.9M [00:41<00:27, 1.27MB/s]
 61%|██████    | 49.0M/80.9M [00:42<00:27, 1.23MB/s]
 62%|██████▏   | 50.0M/80.9M [00:43<00:27, 1.17MB/s]
 63%|██████▎   | 51.0M/80.9M [00:44<00:26, 1.20MB/s]
 64%|██████▍   | 52.0M/80.9M [00:45<00:24, 1.26MB/s]
 65%|██████▌   | 53.0M/80.9M [00:46<00:24, 1.18MB/s]
 67%|██████▋   | 54.0M/80.9M [00:47<00:25, 1.10MB/s]
 68%|██████▊   | 55.0M/80.9M [00:48<00:23, 1.18MB/s]
 69%|██████▉   | 56.0M/80.9M [00:49<00:22, 1.17MB/s]
 70%|███████   | 57.0M/80.9M [00:49<00:20, 1.20MB/s]
 72%|███████▏  | 58.0M/80.9M [00:50<00:18, 1.33MB/s]
 73%|███████▎  | 59.0M/80.9M [00:51<00:18, 1.25MB/s]
 74%|███████▍  | 60.0M/80.9M [00:52<00:17, 1.26MB/s]
 75%|███████▌  | 61.0M/80.9M [00:53<00:17, 1.22MB/s]
 77%|███████▋  | 62.0M/80.9M [00:54<00:17, 1.15MB/s]
 78%|███████▊  | 63.0M/80.9M [00:54<00:15, 1.23MB/s]
 79%|███████▉  | 64.0M/80.9M [00:55<00:14, 1.25MB/s]
 80%|████████  | 65.0M/80.9M [00:56<00:13, 1.21MB/s]
 82%|████████▏ | 66.0M/80.9M [00:57<00:11, 1.33MB/s]
 83%|████████▎ | 67.0M/80.9M [00:58<00:11, 1.26MB/s]
 84%|████████▍ | 68.0M/80.9M [00:59<00:11, 1.22MB/s]
 85%|████████▌ | 69.0M/80.9M [01:00<00:10, 1.19MB/s]
 87%|████████▋ | 70.0M/80.9M [01:00<00:09, 1.26MB/s]
 88%|████████▊ | 71.0M/80.9M [01:01<00:08, 1.23MB/s]
 89%|████████▉ | 72.0M/80.9M [01:02<00:07, 1.25MB/s]
 90%|█████████ | 73.0M/80.9M [01:03<00:06, 1.22MB/s]
 91%|█████████▏| 74.0M/80.9M [01:04<00:05, 1.22MB/s]
 93%|█████████▎| 75.0M/80.9M [01:05<00:04, 1.29MB/s]
 94%|█████████▍| 76.0M/80.9M [01:05<00:04, 1.24MB/s]
 95%|█████████▌| 77.0M/80.9M [01:06<00:03, 1.22MB/s]
 96%|█████████▋| 78.0M/80.9M [01:07<00:02, 1.18MB/s]
 98%|█████████▊| 79.0M/80.9M [01:09<00:01, 1.03MB/s]
 99%|█████████▉| 80.0M/80.9M [01:10<00:00, 1.06MB/s]
100%|██████████| 80.9M/80.9M [01:11<00:00, 1.03MB/s]
100%|██████████| 80.9M/80.9M [01:11<00:00, 1.19MB/s]

In [16]:
#extracting the zip file
from zipfile import ZipFile
dataset = 'sentiment140.zip'

with ZipFile(dataset, 'r') as zip:
    zip.extractall()
    print('The dataset is extracted')

The dataset is extracted

# Importing the Necessary Depenencies

In [6]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Iflal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [8]:
#printing the stopwords in english
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

# Data Processing

In [9]:
# loading the data from csv file to pandas dataframe
twitter_data = pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1')

In [10]:
#checking the number of the rows and columns
twitter_data.shape

(1599999, 6)

In [11]:
#printing the first 5 rows of the dataframe
twitter_data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [12]:
#naming thr columns and reading the dataset again

column_names = ['target', 'id' , 'date', 'flag', 'user', 'text']
twitter_data = pd.read_csv('training.1600000.processed.noemoticon.csv', names = column_names , encoding='ISO-8859-1')

In [13]:
twitter_data.shape

(1600000, 6)

In [14]:
twitter_data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [15]:
#counting any number of missing value in data set
twitter_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [16]:
# checking the distribution of target column
twitter_data['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

# convert the target
 positive '4' to '1'

In [18]:
twitter_data.replace({'target' : {4 : 1}}, inplace = True )

In [19]:
twitter_data['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

### 0 --> Negative Tweet

### 1 --> Positive Tweet

## Stemming

stemming is the process of reducing the a word to its Root word

Example: actor, actress, acting = act

In [20]:
port_stem = PorterStemmer()

In [21]:
def stemming(content):
    
    stemmed_content = re.sub( '[^a-zA-Z]', ' ', content )
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    
    return stemmed_content

In [22]:
twitter_data['stemmed_content'] = twitter_data['text'].apply(stemming)

In [23]:
twitter_data.head()

,target,id,date,flag,user,text,stemmed_content
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",switchfoot http twitpic com zl awww bummer sho...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,upset updat facebook text might cri result sch...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,kenichan dive mani time ball manag save rest g...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole bodi feel itchi like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",nationwideclass behav mad see

In [24]:
print(twitter_data['stemmed_content'])

0          switchfoot http twitpic com zl awww bummer sho...
1          upset updat facebook text might cri result sch...
2          kenichan dive mani time ball manag save rest g...
3                            whole bodi feel itchi like fire
4                              nationwideclass behav mad see
                                 ...
1599995                           woke school best feel ever
1599996    thewdb com cool hear old walt interview http b...
1599997                         readi mojo makeov ask detail
1599998    happi th birthday boo alll time tupac amaru sh...
1599999    happi charitytuesday thenspcc sparkschar speak...
Name: stemmed_content, Length: 1600000, dtype: object

In [25]:
print(twitter_data['target'])

0          0
1          0
2          0
3          0
4          0
          ..
1599995    1
1599996    1
1599997    1
1599998    1
1599999    1
Name: target, Length: 1600000, dtype: int64

In [26]:
#seperating the data and label

X = twitter_data['stemmed_content'].values
Y = twitter_data['target'].values

In [27]:
print(X)

['switchfoot http twitpic com zl awww bummer shoulda got david carr third day'
 'upset updat facebook text might cri result school today also blah'
 'kenichan dive mani time ball manag save rest go bound' ...
 'readi mojo makeov ask detail'
 'happi th birthday boo alll time tupac amaru shakur'
 'happi charitytuesday thenspcc sparkschar speakinguph h']

In [28]:
print(Y)

[0 0 0 ... 1 1 1]

### Spliting the data to train data and test data

In [29]:
X_train, X_test, Y_train,Y_test = train_test_split(X, Y, test_size = 0.2, stratify=Y, random_state = 2)

In [30]:
print(X.shape, X_train.shape, X_test.shape)

(1600000,) (1280000,) (320000,)

In [ ]:
#converting the textual data to numerical data

vectorizer = TfidfVectorizer()

X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)